
.login {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 1px solid red;
    left: calc(50% - 200px);
    top: calc(50% - 150px);
}



.login_btn:hover {
    background: orangered;
}